body {
    margin: 0;
}

.box {
    width: 100%;
    height: 1rem;
    background: #ffff;
    margin: 0;
}

.img {
    width: 0.2rem;
    position: absolute;
    top: 0.38rem;
    left: 0.4rem;
    z-index: 9999;
}

.text {
    width: 100%;
    position: absolute;
    font-size: 0.35rem;
    text-align: center;
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.03rem;
    line-height: 1.07rem;
}

.box_A {
    width: 100%;
    height: 3rem;
    background: #ffff;
    margin-top: 0.3rem;
    display: none;
}

.text_b {
    font-size: 0.28rem;
    width: 100%;
    text-align: center;
    height: 0.8rem;
    line-height: 0.85rem;
    color: #0d0d0db5;
    font-weight: 600;
}

.text_c {
    font-size: 0.24rem;
    color: #666666;
    font-family: PingFangSC-Regular;
    line-height: 0.44rem;
    width: 94%;
    margin-left: 0.25rem;
}

.box_ox {
    background: #f4f4f4b5;
    width: 100%;
    height: 2.12rem;
    position: relative;
    margin-bottom: -0.2rem;
}

.box_aox {
    background: url(../../img/bg.png);
    background-size: 100% 100%;
    width: 90%;
    height: 1.7rem;
    margin-left: 0.35rem;
    position: relative;
    top: 0.2rem;
}

.box_akl {
    background: #FFFCEB;
    width: 1.2rem;
    height: 1.1rem;
    border-radius: 0.34rem;
    border: 2px solid #FFBA00;
    position: absolute;
    top: 0.25rem;
    left: 0.3rem;
}

.text_al {
    font-size: 0.2rem;
    color: #FD7C06;
    text-align: center;
    line-height: 1.75rem;
}

.txte_ak {
    font-size: 0.28rem;
    color: #FD7C06;
    font-weight: 600;
    position: absolute;
    top: 0.32rem;
    left: 1.8rem;
}

.txte_rq {
    font-size: 0.24rem;
    color: #666666;
    top: 0.8rem;
    position: absolute;
    left: 1.76rem;
}

.img_acd {
    position: absolute;
    top: 0.1rem;
    left: 0.174rem;
}

.box_ax {
    background: url(../../img/beij.png) no-repeat;
    background-size: 100% 100%;
    height: 12.33rem;
}

.img_ouy {
    position: absolute;
    top: 4rem;
    width: 3rem;
    left: 30%;
}

.text_zanwu {
    position: absolute;
    top: 7.3rem;
    font-size: 0.3rem;
    color: #333333;
    font-weight: 600;
    left: 2rem;
    letter-spacing: 0.038rem;
}