html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
}
body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  overflow-y: scroll;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
/*隐藏*/
.dn {
  display: none;
}
.wrapper {
  width: 120rem;
  height: 58rem;
  display: flex;
}
.wrapper .module {
  width: 120rem;
  height: 100%;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}
.wrapper .part_1,
.wrapper .part_2,
.wrapper .part_3,
.wrapper .part_4 {
  position: relative;
}
.wrapper .part_1 .bg {
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.wrapper .part_1 .bg img {
  width: 100%;
  height: 100%;
}
.wrapper .part_1 .ball,
.wrapper .part_1 .mountain,
.wrapper .part_1 .pillars {
  position: absolute;
  top: 0%;
  left: 0%;
}
.wrapper .part_1 .ball {
  top: 83%;
  left: 30%;
  width: 10%;
  height: 20%;
  border: 1px solid black;
  background-image: url(http://127.0.0.1:5500/personal_tasks/personal_task/pureLayout/project/assets/img/中间/user_p02_mola.db6478ef..png.png);
  background-position: 0% 0%;
  z-index: 30;
  transform: rotate(270deg);
}
.wrapper .part_1 .pillars {
  top: 10%;
  left: 86%;
  z-index: 30;
}
.wrapper .part_1 .mountain {
  top: 80%;
  left: 66%;
  width: 50%;
  height: 17%;
  background-image: url(http://127.0.0.1:5500/personal_tasks/personal_task/pureLayout/project/assets/img/中间/user_p03_hua.4d4693b2..png.png);
  background-position: 0% 100%;
}
.wrapper .part_1 .main {
  width: 30%;
  height: 60%;
  z-index: 100;
  border: 1px solid black;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 15%;
}
.wrapper .part_1 .main img {
  width: 100%;
  height: 100%;
}
.wrapper .part_1 .main .section {
  width: 70%;
  height: 70%;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10%;
}
.wrapper .part_1 .main .section .imgWrapper {
  width: 100%;
  height: 100%;
  z-index: -10;
  display: inline-block;
}
.wrapper .part_1 .main .section .imgWrapper img {
  width: 100%;
  height: 100%;
}
.wrapper .part_1 .main .section p {
  line-height: 3;
}
.wrapper .part_1 .main .section .r_span {
  color: red;
}
