@import "../../assets/css/reset.less";

.wrapper{
    width: 90rem;
    height: 44rem;
    margin: 0 auto;
    // background: black;

    .controller,.main{
        width: 100%;
       
    }
    .controller{
        height: 10%;
    }
    .main{
        width: 100%;
        height: 90%;
        display: inline-grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
        // background: cornflowerblue;

        .item{
            // height: 100%;
            // display: inline-grid;
            cursor: pointer;
            .bg{
                width: 100%;
                height: 100%;
                background: url("../../assets/img/微信图片_20220426162551.jpg") no-repeat center ;
                background-size: cover;
                position: relative; 
                .title{
                    background: rgb(255, 251, 251);
                    position: absolute;
                    text-align: center;
                    color: #a059a7;
                    font-size: 2rem;
                    padding: 0 1rem;
                }

                .title.upLeft{
                    bottom: 10%;
                    right: 2%;
                }
                .title.upRight{
                    top: 10%;
                    right: 2%;
                }
                .title.center{
                    // top: 5%;
                    // left: 50%;
                    transform: translate(30%,50%);
                }
                .title.leftLower{
                    top: 10%;
                    left: 2%;
                }
                .title.rightLower{
                    top: 10%;
                    left: 2%;
                }

                &:nth-child(1){

                }
                &:nth-child(2){
                    
                }
                &:nth-child(3){
                    
                }
                &:nth-child(4){
                    
                }
                &:nth-child(5){
                    
                }
            }
        }
        .upLeft { 
            grid-row-start: 1;
            grid-row-end: 5;
            grid-column-start: 1;
            grid-column-end: 4;
            // grid-area: 1 / 1 / 3 / 3; 
            background: red;
        }
        .leftLower { 
            grid-row-start: 7;
            grid-row-end: 11;
            grid-column-start: 1;
            grid-column-end: 4;
            // grid-area: 7 / 1 /  10 / 5; 
            background: blue;

        }
        .upRight { 
            grid-row-start: 1;
            grid-row-end: 5;
            grid-column-start: 8;
            grid-column-end: 11;
            // grid-area: 1 / 8 / span  / auto; 
            background: green;
        }
        .rightLower { 
            grid-row-start: 7;
            grid-row-end: 11;
            grid-column-start: 8;
            grid-column-end: 11;
            background: yellow;
        }
        .center { 
            grid-row-start: 1;
            grid-row-end: 11;
            grid-column-start: 5;
            grid-column-end: 7;
            // grid-area: 1 / 6 / span 2 / span 11 ; 
            background: coral;
        }
    }

        
        
}