html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
html,
body {
  width: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
}
body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  overflow-y: scroll;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
/*隐藏*/
.dn {
  display: none;
}
.wrapper {
  width: 360rem;
  height: 58rem;
  display: flex;
}
.wrapper .module {
  width: 120rem;
  height: 100%;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}
.wrapper .part_1,
.wrapper .part_2,
.wrapper .part_3,
.wrapper .part_4,
.wrapper .part_5,
.wrapper .part_6 {
  position: relative;
}
.wrapper .part_1 .bg,
.wrapper .part_2 .bg,
.wrapper .part_3 .bg,
.wrapper .part_4 .bg,
.wrapper .part_5 .bg,
.wrapper .part_6 .bg {
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.wrapper .part_1 .bg img,
.wrapper .part_2 .bg img,
.wrapper .part_3 .bg img,
.wrapper .part_4 .bg img,
.wrapper .part_5 .bg img,
.wrapper .part_6 .bg img {
  width: 100%;
  height: 100%;
}
.wrapper .part_1 .cloud,
.wrapper .part_1 .road,
.wrapper .part_1 .main {
  position: absolute;
}
.wrapper .part_1 .cloud {
  top: 8%;
  left: 10%;
  z-index: 10;
}
.wrapper .part_1 .road {
  top: 11%;
  left: 10%;
}
.wrapper .part_1 .main {
  width: 12%;
  height: 60%;
  z-index: 100;
  border: 1px solid black;
  margin: 0 auto;
  top: 20%;
  left: 15%;
}
.wrapper .part_1 .main img {
  width: 100%;
  height: 100%;
}
.wrapper .part_1 .main .section {
  width: 80%;
  height: 80%;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10%;
}
.wrapper .part_1 .main .section .imgWrapper {
  width: 100%;
  height: 100%;
  z-index: -10;
  display: inline-block;
}
.wrapper .part_1 .main .section .imgWrapper img {
  width: 100%;
  height: 100%;
}
.wrapper .part_1 .main .section p {
  line-height: 3;
}
.wrapper .part_1 .main .section .r_span {
  color: red;
}
.wrapper .part_2 .cloud,
.wrapper .part_2 .road,
.wrapper .part_2 .main,
.wrapper .part_2 .group,
.wrapper .part_2 .floor,
.wrapper .part_2 .tree,
.wrapper .part_2 .pillars {
  position: absolute;
}
.wrapper .part_2 .cloud {
  position: absolute;
  top: -10%;
  left: -20%;
  z-index: 10;
}
.wrapper .part_2 .road {
  position: absolute;
  top: 10%;
  left: 0%;
  transform: skew(-45deg);
}
.wrapper .part_2 .floor {
  top: 31%;
  left: 70%;
}
.wrapper .part_2 .tree {
  top: 0%;
  left: 70%;
}
.wrapper .part_2 .pillars {
  top: -30%;
  left: 76%;
}
.wrapper .part_2 .main {
  width: 30%;
  height: 50%;
  z-index: 100;
  border: 1px solid black;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 45%;
}
.wrapper .part_2 .main img {
  width: 100%;
  height: 100%;
}
.wrapper .part_2 .main .section {
  width: 60%;
  height: 60%;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10%;
}
.wrapper .part_2 .main .section .imgWrapper {
  width: 100%;
  height: 100%;
  z-index: -10;
  display: inline-block;
}
.wrapper .part_2 .main .section .imgWrapper img {
  width: 100%;
  height: 100%;
}
.wrapper .part_2 .main .section p {
  line-height: 3;
}
.wrapper .part_2 .main .section .r_span {
  color: red;
}
.wrapper .part_3 .floor,
.wrapper .part_3 .tree,
.wrapper .part_3 .main,
.wrapper .part_3 .pillars1,
.wrapper .part_3 .pillars2 {
  position: absolute;
}
.wrapper .part_3 .floor {
  top: 49%;
  left: 0%;
  width: 100%;
  height: 50%;
}
.wrapper .part_3 .floor img {
  width: 100%;
  height: 100%;
}
.wrapper .part_3 .tree {
  width: 60%;
  height: 60%;
  top: 0%;
  left: 15%;
}
.wrapper .part_3 .tree img {
  width: 100%;
  height: 100%;
}
.wrapper .part_3 .pillars1 {
  top: 0%;
  left: 70%;
}
.wrapper .part_3 .pillars2 {
  top: 0%;
  left: 15%;
}
.wrapper .part_3 .main {
  width: 30%;
  height: 50%;
  z-index: 100;
  border: 1px solid black;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 50%;
}
.wrapper .part_3 .main img {
  width: 100%;
  height: 100%;
}
.wrapper .part_3 .main .section {
  width: 80%;
  height: 80%;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10%;
}
.wrapper .part_3 .main .section .imgWrapper {
  width: 100%;
  height: 100%;
  z-index: -10;
  display: inline-block;
}
.wrapper .part_3 .main .section .imgWrapper img {
  width: 100%;
  height: 100%;
}
.wrapper .part_3 .main .section p {
  line-height: 3;
}
.wrapper .part_3 .main .section .r_span {
  color: red;
}
.wrapper .controller {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.wrapper .controller .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.wrapper .controller .btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #4a96ee;
  background: linear-gradient(0deg, #8887f5 0%, #537afa 100%);
}
.wrapper .controller .btn-5:hover {
  color: #002efd;
  background: transparent;
  box-shadow: none;
}
.wrapper .controller .btn-5:before,
.wrapper .controller .btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #002efd;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.wrapper .controller .btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.wrapper .controller .btn-5:hover:before,
.wrapper .controller .btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
