@import "../../assets/css/reset.less";
.wrapper{
    width: 360rem;
    height: 58rem;
    // background: cornflowerblue;
    display: flex;
    // background-image: url('../../assets/img/左下/daiqi_p04_text.61ec2945..png.png');
    // background-repeat: no-repeat;
    // background-size:contain;
    .module{
        width: 120rem;
        height: 100%;
        border: 1px solid black;
        position: relative;
        overflow: hidden;
    }
    .part_1,.part_2,.part_3,.part_4,.part_5,.part_6{
        position: relative;
        
        .bg{
            width: 100%;
            height: 100%;
            z-index: -1000;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }

    .part_1{
        .cloud,.road,.main{
            position: absolute;
        }
        .cloud{
            
            top: 8%;
            left: 10%;
            z-index: 10;
        }
        .road{
            // position: absolute;
            top: 11%;
            left: 10%;
        }
        .main{
            // position: absolute;
            width: 12%;
            height: 60%;
            z-index: 100;
            border: 1px solid black;
            margin: 0 auto;
            top: 20%;
            left: 15%;
            // transform: translate(-50% -50%);
            // background: url("../../assets/img/左上/mengde_p7_text.81d3651a..png.png") no-repeat center ;
            // background-size: cover;
            img{
                width: 100%;
                height: 100%;
            }
            .section{
                // text-align: center;
                // vertical-align: middle;
                width: 80%;
                height: 80%;
                // border: 1px solid black;
                font-size: 1.5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding: 10%;
                .imgWrapper{
                    width: 100%;
                    height: 100%;
                    z-index: -10;
                    display: inline-block;
                    // position: absolute;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                p{
                    line-height: 3;
                }
                .r_span{
                    color: red;
                }
            }

           
        }
    }

    .part_2{
        .cloud,.road,.main,.group,.floor,.tree,.pillars{
            position: absolute;
        }
        .cloud{
            position: absolute;
            top: -10%;
            left: -20%;
            z-index: 10;
        }
        .road{
            position: absolute;
            top: 10%;
            left: 0%;
            transform: skew(-45deg);
        }
        .floor{
            top: 31%;
            left: 70%;
        }
        .tree{
            top: 0%;
            left: 70%;
        }
        .pillars{
            top: -30%;
            left: 76%;
        }
        .main{
            // position: absolute;
            width: 30%;
            height: 50%;
            z-index: 100;
            border: 1px solid black;
            margin: 0 auto;
            position: absolute;
            top: 15%;
            left: 45%;
            // transform: translate(-50% -50%);
            // background: url("../../assets/img/左上/mengde_p7_text.81d3651a..png.png") no-repeat center ;
            // background-size: cover;
            img{
                width: 100%;
                height: 100%;
            }
         
            .section{
                // text-align: center;
                // vertical-align: middle;
                width: 60%;
                height: 60%;
                // border: 1px solid black;
                font-size: 1.5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding: 10%;
                .imgWrapper{
                    width: 100%;
                    height: 100%;
                    z-index: -10;
                    display: inline-block;
                    // position: absolute;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                p{
                    line-height: 3;
                }
                .r_span{
                    color: red;
                }
            }
        }
            
    }

    .part_3{
        .floor,.tree,.main,.pillars1,.pillars2{
            position: absolute;
        }
        .floor{
            top: 49%;
            left: 0%;
            width: 100%;
            height: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .tree{
            width: 60%;
            height: 60%;
            top: 0%;
            left: 15%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .pillars1{
            top: 0%;
            left: 70%;
        }
        .pillars2{
            top: 0%;
            left: 15%;
        }
        .main{
            // position: absolute;
            width: 30%;
            height: 50%;
            z-index: 100;
            border: 1px solid black;
            margin: 0 auto;
            position: absolute;
            top: 30%;
            left: 50%;
            // transform: translate(-50% -50%);
            // background: url("../../assets/img/左上/mengde_p7_text.81d3651a..png.png") no-repeat center ;
            // background-size: cover;
            img{
                width: 100%;
                height: 100%;
            }
         
            .section{
                // text-align: center;
                // vertical-align: middle;
                width: 80%;
                height: 80%;
                // border: 1px solid black;
                font-size: 1.5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding: 10%;
                .imgWrapper{
                    width: 100%;
                    height: 100%;
                    z-index: -10;
                    display: inline-block;
                    // position: absolute;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                p{
                    line-height: 3;
                }
                .r_span{
                    color: red;
                }
            }
        }
            
    }

    .controller{
        position: fixed;
        bottom: 5%;
        right: 5%;
        .custom-btn {
            width: 130px;
            height: 40px;
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
             box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
             7px 7px 20px 0px rgba(0,0,0,.1),
             4px 4px 5px 0px rgba(0,0,0,.1);
            outline: none;
        }
        //  btn-5
        .btn-5 {
            width: 130px;
            height: 40px;
            line-height: 42px;
            padding: 0;
            border: none;
            background: rgb(74, 150, 238);
            background: linear-gradient(0deg, rgb(136, 135, 245) 0%, rgb(83, 122, 250) 100%);
          }
          .btn-5:hover {
            color: #002efd;
            background: transparent;
             box-shadow:none;
          }
          .btn-5:before,
          .btn-5:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #002efd;
            box-shadow:
             -1px -1px 5px 0px #fff,
             7px 7px 20px 0px #0003,
             4px 4px 5px 0px #0002;
            transition:400ms ease all;
          }
          .btn-5:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
          }
          .btn-5:hover:before,
          .btn-5:hover:after{
            width:100%;
            transition:800ms ease all;
          }
          
          
    }
}