@import "../../assets/css/reset.less";
.wrapper{
    width: 2000rem;
    height: 58rem;
    // background: cornflowerblue;
    display: flex;
    .module{
        width: 120rem;
        height: 100%;
        border: 1px solid black;
        position: relative;
    }

    .part_1{      
        .main{
            // position: absolute;
            width: 25rem;
            height: 25rem;
            // border: 1px solid black;
            margin: 0 auto;
            transform: translateY(50%);
            background: url("../../assets/img/左上/mengde_p7_text.81d3651a..png.png") no-repeat center ;
            background-size: cover;
            .pContainer{
                width: 80%;
                height: 80%;
                border: 1px solid black;
                margin: 0 auto;
                .p{
                    text-align: center;
                    // vertical-align: middle;
                    .r_span{
                        color: red;
                    }
                }
            }
           
        }
    }
}