.item2 {
  background: url('../../assets/images/bg.png');
  position: relative;
}
.item2 .main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.item2 .main .rows {
  width: 100%;
}
.item2 .main .unicom {
  height: 10%;
}
.item2 .main .unicom img {
  top: 0.5rem;
  left: 0.5rem;
  position: absolute;
  width: 12%;
  height: 6%;
}
.item2 .main .rowTitle {
  height: 15%;
}
.item2 .main .rowTitle img {
  width: 30%;
  height: 60%;
}
.item2 .main .rowContent {
  height: 25%;
}
.item2 .main .rowContent img {
  width: 40%;
  height: 90%;
}
.item2 .main .apps {
  height: 5%;
  margin-bottom: 1em;
}
.item2 .main .apps .btn {
  display: inline-block;
  background: #ebbd27;
  color: white;
  width: 80%;
  height: 100%;
  border-radius: 50px;
}
.item2 .main .box_cp {
  height: 20%;
}
.item2 .main .box_cp .wrapper {
  width: 60%;
  height: 100%;
  background: url('../../assets/images/包含部分.png') no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
.item2 .main .box_cp img {
  width: 20%;
  height: 20%;
  margin: 1em 0 0.5em 0;
}
.item2 .main .box_cp .text_ar {
  text-align: left;
  margin-left: 1.5em;
}
.item2 .main .box_cp .text_ar:nth-of-type(3) {
  margin-bottom: 0.5em;
}
.item2 .main .box_cd {
  height: 20%;
}
.item2 .main .box_cd .wrapper {
  width: 60%;
  height: 100%;
  background: url('../../assets/images/包含部分.png') no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
.item2 .main .box_cd .wrapper .chanps {
  width: 50%;
  height: 20%;
  margin: 1em 0 0.5em 0;
}
.item2 .main .box_cd .wrapper .iconPlace {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.5em;
}
.item2 .main .box_cd .wrapper .iconPlace .icon {
  width: 25%;
  display: inline-block;
}
.item2 .main .box_cd .wrapper .iconPlace .icon img {
  width: 30%;
}
.item2 .main .box_cd .wrapper .iconPlace .icon:nth-child(1),
.item2 .main .box_cd .wrapper .iconPlace .icon:nth-child(2),
.item2 .main .box_cd .wrapper .iconPlace .icon:nth-child(3),
.item2 .main .box_cd .wrapper .iconPlace .icon:nth-child(4) {
  margin-bottom: 0.8em;
}
.item2 .btnBox {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
